{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'w3css.css'%}">
    

    <title>Shaka plagiarism Checker</title>
    <style>
        .w3-sidenav .fa{
            font-size: 20px;
            margin: 5px;
        }
        .top-bar a:hover{
            color: black;
            text-decoration: none;
        }
        .logout{
            margin-left: 550px;
            font-size: 25px;
            margin-top: 20px;
        }
        .image{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            margin: auto;
            margin-top: 10px;
            margin-left: 100px;
            margin-bottom: 15px;

            
        }

        a{
            color: black;

        }
    </style>
</head>
<body>
    
    <div class=" row ">
        <div class="col-md-3 col-sm-3 w3-card-2 "style="height:620px">
            <div class="mx-auto">
            <img class="image" src="{% static 'images/1.jpg'%}" alt="">
        </div>
            <p class="text-center bold"><b>{{name}}</b></p>
            <p class="text-center" style="font-size: 12px;">Loggedin as admin</p>
            <hr>
        <ul class="nav-item w3-sidenav "style="width:300px">
            <li class="nav-link mt-4"><a href="/dashboard"><span class="fa fa-search"></span> Check plagiarim</a></li>
            <li class="nav-link mt-4"><a href="/listen"><span class="fa fa-microphone"></span> Listen</a></li>
            <li class="nav-link mt-4"><a href="/dictionary"><span class="fa fa-book"></span> Dictionary</a></li>
            <li class="nav-link mt-4"><a href="/checkpasslip"><span class="fa fa-flag"></span> Estamp</a></li>
            <li class="nav-link mt-4"><a href="/"><span class="fa fa-power-off"></span> LogOut</a></li>

        </ul>
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="w3-card-2 ">
                <div class="nav nav-bar top-bar">
                    <a href=""><span><h1 class="p-2 text-primary">Shaka plagiarism Checker</h1></span></a>
                    <a href="/"><span class="fa fa-power-off logout"></span></a>
                </div>
            
            
        </div>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>

        </div>

    </div>
    <script src="{%static 'js/bootstrap.js.min.js'%}">

    </script>
</body>
</html>