{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .panel{
        height:500px;
        resize: vertical;
        overflow: auto;
    }
</style>
<header>
    <h2>Estamp</h2>

    <div class="panel">

        <table class="table table-responsive">
            <tr>
                <th class="w-25">Student</th>
                <th class="w-25">Document</th>
                <th class="w-25">Reason</th>
                <th class="w-25">Approve</th>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">registration.pdf</a></td>
                <td>Freshers Ball</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">request for chairs.pdf</a></td>
                <td>Freshers Ball </td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">Request for management science.pdf</a></td>
                <td> consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td> consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td> animi, consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td>nimi, consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td>consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td> consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td>consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td> consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td> uuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td>  consequuntur iste voluptatum quae.</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
            <tr>
                <td>Nyanzi Matia</td>
                <td><a href="">ICt.pdf</a></td>
                <td>Freshers Ball</td>
                <td><button class="w3-btn w3-green">stamp</button></td>
            </tr>
        </table>
    </div>
</header>

{% endblock %}

