{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'w3css.css'%}">
    <style>
        .fa{
            position: absolute;
            font-size: 20px;
            margin-left: 8px;
            margin-top: 6px;
        }
        input[type="text"],input[type="email"], input[type="password"]{
            padding-left: 35px;
        }
    </style>
</head>

<body>
    <div class="w3-card-4 mx-auto mt-5" style="border-radius: 25px; padding:10px; width:500px;">
        
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="row p-3">
                <div class="col-md-6 col-sm-6">
                    <h1 class="w3-center">Login</h1>

                    <span class="w3-text-red">{{sms}}</span>
                    <div>
                        <i class="fa fa-user"></i>
                        <input type="email" placeholder="Username" class="w3-input" name="email" id=""><br>
                    </div>
                    <div>
                        <i class="fa fa-lock"></i>
                    
                    <input type="password" placeholder="password" class="w3-input" name="password" id=""><br>
                </div>
                    <div class="w3-center">
                        <button class="w3-blue w3-btn w3-center">Login</button><br><br>
                        <a href="#">Forgot Password ?</a>

                    </div>
                    <div class="mt-3 mb-3">
                        <a href="/register">Create Account</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 w3-center mt-5">
                    <img src="{% static 'images/log.png'%}" style=" width:120px; height: 120px; " alt="">
                    <p class="mt-3">welcome to shaka plagiarism Checker developed by Lira university students</p>
                </div>
            </div>

        </form>

    </div>
</body>

</html>